.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: brown;
}

.col {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: aquamarine;
    flex: 1;
    
}

.row {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    
    
}

.rowUnit {
    display: flex;
    flex: 1;
    height: auto;
    background-color: blue;
    
    
}

.rowUnit:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}