.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: brown;
    
}

.columns {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    background-color: aquamarine;
    
    flex: 1;
}

.rows {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    /* height: 100px; */
    flex: 1;
}

.rowUnits {
    display: flex;
    flex: 1;
    height: 100px;
    background-color: blue;
}

.rowUnits:hover {
    background-color: red;
}

.rowUnit:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}